Repository nabariho/dgi-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, black, mypy, isort, bandit

.pre-commit-config.yaml:

repos:
  # Python tools using Poetry environment
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff (lint)
        entry: poetry run ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        description: "Run Ruff linter with autofix"
        pass_filenames: false
        args: [.]
      - id: ruff-format
        name: ruff (format)
        entry: poetry run ruff format
        language: system
        types: [python]
        description: "Run Ruff formatter"
        pass_filenames: false
        args: [.]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        description: "Format Python code with Black"
        pass_filenames: false
        args: [.]
      - id: mypy
        name: mypy
        entry:
          poetry run mypy --config-file=mypy.ini dgi/ tests/test_filtering.py
          tests/test_scoring.py tests/test_portfolio.py tests/test_validation.py
        language: system
        types: [python]
        description: "Static type checking with MyPy"
        # Check core business logic and main modules
        files: ^(dgi/|tests/test_(filtering|scoring|portfolio|validation)\.py)$
        exclude: ^(tests/test_(providers|ai_chat|cli_helpers|screener_edge|screener)\.py|ai_chat/|notebooks/)$
        pass_filenames: false
      - id: isort
        name: isort
        entry: poetry run isort --profile=black --line-length=88
        language: system
        types: [python]
        description: "Sort Python imports"
        pass_filenames: false
        args: [.]
      - id: bandit
        name: bandit
        entry: poetry run bandit -r dgi/ --skip B101,B601
        language: system
        types: [python]
        description: "Security linting with Bandit"
        files: ^dgi/.*\.py$
        pass_filenames: false

  # External tools
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: prettier
        description: "Format YAML, JSON, and Markdown files"
        types_or: [yaml, json, markdown]
        args: [--prose-wrap=always, --print-width=88]

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.2.0
    hooks:
      - id: conventional-pre-commit
        name: conventional-commits
        description: "Ensure commit messages follow conventional format"
        stages: [commit-msg]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        description: "Trim trailing whitespace"
      - id: end-of-file-fixer
        name: end-of-file-fixer
        description: "Ensure files end with newline"
      - id: check-yaml
        name: check-yaml
        description: "Validate YAML files"
      - id: check-toml
        name: check-toml
        description: "Validate TOML files"
      - id: check-merge-conflict
        name: check-merge-conflict
        description: "Check for merge conflict markers"
      - id: debug-statements
        name: debug-statements
        description: "Check for debug statements"

feat: optimize Docker image size while preserving business logic
  Dockerfile
Due: none

feat: add comprehensive feature backlog with 10 planned features
  docs/FEATURES.md
Due: none

docs: add comprehensive feature development process workflow
  docs/DEVELOPMENT.md
Due: none

feat: start DGIT-301 FastAPI Service Skeleton implementation
  docs/FEATURES.md
Due: none

feat: implement DGIT-301 FastAPI Service Skeleton
  api/__init__.py
  api/main.py
  notebooks/eda_week2.ipynb
  poetry.lock
  pyproject.toml
  run_api.py
  tests/test_api.py
Due: ruff-lint, ruff-format, black, isort

docs: mark DGIT-301 as complete
  docs/FEATURES.md
Due: none

feat: implement comprehensive test environment isolation
  .gitignore
  api/main.py
  docs/TESTING.md
  pytest.ini
  run_test_server.py
  tests/conftest.py
  tests/test_api.py
Due: ruff-lint, ruff-format, black, isort

feat: automate test execution with environment isolation
  Makefile
  docs/DEVELOPMENT.md
  scripts/run-tests.sh
Due: none

docs: add comprehensive before committing checklist to development guidelines
  docs/DEVELOPMENT.md
Due: none

docs: add comprehensive technical debt analysis for DGIT-301
  docs/tech-debt.md
Due: none

feat: implement comprehensive technical debt fixes for DGIT-301
  api/__init__.py
  api/config.py
  api/dependencies.py
  api/error_handlers.py
  api/exceptions.py
  api/logging_config.py
  api/main.py
  api/mappers.py
  api/schemas/__init__.py
  api/schemas/requests.py
  api/schemas/responses.py
  docs/tech-debt.md
  env.example
  poetry.lock
  pyproject.toml
  tests/test_api.py
  tests/test_portfolio.py
Due: ruff-lint, ruff-format, black, mypy, isort

feat: Complete major technical debt items and reorganize documentation
  api/config.py
  api/error_handlers.py
  api/logging_config.py
  api/main.py
  api/schemas/requests.py
  api/schemas/responses.py
  api/versioning.py
  docs/fixed-tech-debt.md
  docs/tech-debt.md
  poetry.lock
  pyproject.toml
Due: ruff-lint, ruff-format, black, isort

feat: Complete major technical debt items and reorganize documentation
  api/caching.py
  api/main.py
  api/schemas/responses.py
  docs/API_USAGE_GUIDE.md
  docs/fixed-tech-debt.md
  docs/tech-debt.md
Due: ruff-lint, ruff-format, black, isort

feat: complete all technical debt items and organize documentation
  api/async_processing.py
  api/config.py
  api/main.py
  api/observability.py
  docs/fixed-tech-debt.md
  docs/tech-debt.md
  poetry.lock
  pyproject.toml
  tests/test_api.py
Due: ruff-lint, ruff-format, black, isort

fix: critical security issue - tests were using production data
  api/config.py
  tests/conftest.py
Due: ruff-lint, ruff-format, black, isort

fix: resolve validation inconsistencies between API and CLI
  .gitignore
  ai_chat/screener_tool.py
  api/async_processing.py
  api/caching.py
  api/config.py
  api/dependencies.py
  api/main.py
  api/observability.py
  api/schemas/requests.py
  api/schemas/responses.py
  dgi/cli.py
  dgi/config.py
  dgi/factory.py
  dgi/filtering.py
  dgi/portfolio.py
  dgi/repositories/base.py
  dgi/repositories/csv.py
  dgi/scoring.py
  dgi/scoring_config.py
  dgi/screener.py
  dgi/services.py
  dgi/services/__init__.py
  dgi/services/portfolio_service.py
  dgi/services/screening_service.py
  dgi/services/validation_service.py
  dgi/validation_utils.py
  docs/TECHNICAL_DEBT_STATUS.md
  docs/fixed-tech-debt.md
  docs/tech-debt.md
  env.example
  poetry.lock
  pyproject.toml
  tests/test_filtering.py
  tests/test_scoring_config.py
  tests/test_screener.py
  tests/test_validation_utils.py
Due: ruff-lint, ruff-format, black, mypy, isort, bandit

feat: resolve all critical and high-priority technical debt
  api/__init__.py
  api/main.py
  api/schemas/requests.py
  dgi/exceptions.py
  dgi/factory.py
  dgi/filtering.py
  dgi/repositories/csv.py
  dgi/scoring.py
  dgi/screener.py
  dgi/services.py
  dgi/services/portfolio_service.py
  dgi/services/screening_service.py
  dgi/services/validation_service.py
  dgi/validation_utils.py
  docs/TECH_DEBT_RESOLUTION_SUMMARY.md
  docs/tech-debt.md
  poetry.lock
  tests/test_api.py
  tests/test_screener.py
  tests/test_services.py
  tests/test_validation_utils.py
Due: ruff-lint, ruff-format, black, isort, bandit

style: apply formatting fixes from pre-commit hooks
  api/__init__.py
  dgi/exceptions.py
  docs/TECH_DEBT_RESOLUTION_SUMMARY.md
  docs/tech-debt.md
  tests/test_services.py
Due: ruff-lint, ruff-format, black, isort, bandit

style: final formatting fixes for documentation
  docs/TECH_DEBT_RESOLUTION_SUMMARY.md
  docs/tech-debt.md
Due: none

fix: resolve pre-commit validation issues
  api/__init__.py
  api/async_processing.py
  api/main.py
  api/observability.py
  api/schemas/requests.py
  dgi/services.py
  dgi/services/portfolio_service.py
  dgi/services/screening_service.py
  dgi/validation_utils.py
  tests/test_scoring_config.py
Due: ruff-lint, ruff-format, black, isort, bandit

fix: resolve final linting issues for clean commits
  api/__init__.py
  tests/test_scoring_config.py
Due: ruff-lint, ruff-format, black, isort

fix: resolve TD-003 service layer implementation gaps
  api/main.py
  dgi/cli.py
  dgi/portfolio.py
  dgi/screener.py
  dgi/services.py
  dgi/services/screening_service.py
  tests/test_services.py
Due: ruff-lint, ruff-format, black, isort, bandit

docs: update tech-debt.md to mark TD-003 as completed
  docs/tech-debt.md
Due: none

fix: resolve TD-007 incomplete type safety implementation
  dgi/factory.py
  dgi/repositories/csv.py
  dgi/services/screening_service.py
Due: ruff-lint, ruff-format, black, isort, bandit

docs: update tech-debt.md to mark TD-007 as completed
  docs/tech-debt.md
Due: none

fix: resolve TD-009, TD-010, and TD-011 with quality improvements
  ai_chat/screener_tool.py
  dgi/__init__.py
  dgi/config.py
  dgi/factory.py
  dgi/models.py
  dgi/repositories/csv.py
  dgi/screener.py
  dgi/validation.py
  dgi/validation_utils.py
  tests/conftest.py
  tests/test_sample.py
  tests/test_screener.py
  tests/test_validation.py
Due: ruff-lint, ruff-format, black, mypy, isort, bandit

docs: update tech-debt.md to mark TD-009, TD-010, and TD-011 as completed
  docs/tech-debt.md
Due: none

feat: resolve technical debt and improve code quality
  api/async_processing.py
  api/dependencies.py
  api/main.py
  dgi/repositories/csv.py
  dgi/services/screening_service.py
  docs/tech-debt.md
  tests/test_async_processing.py
  tests/test_caching.py
  tests/test_dependencies.py
  tests/test_exceptions.py
  tests/test_filtering.py
  tests/test_mappers.py
  tests/test_observability.py
  tests/test_repositories.py
  tests/test_scoring.py
Due: ruff-lint, ruff-format, black, mypy, isort, bandit

fix: resolve dependency issues and update Pydantic configs to use ConfigDict
  api/container.py
  api/main.py
  api/schemas/requests.py
  poetry.lock
  pyproject.toml
  tests/test_container.py
Due: ruff-lint, ruff-format, black, isort

feat: add proper pytest markers to organize test categories
  tests/test_api.py
  tests/test_async_processing.py
  tests/test_screener.py
Due: ruff-lint, ruff-format, black, isort

docs: move completed tech debt items to fixed-tech-debt.md
  docs/fixed-tech-debt.md
  docs/tech-debt.md
Due: none

feat: implement SOLID principles with focused service classes
  api/schemas/responses.py
  dgi/services/dgi_criteria_service.py
  dgi/services/scoring_service.py
  dgi/services/screening_parameter_validator.py
  docs/tech-debt.md
  tests/test_cli_helpers.py
Due: ruff-lint, ruff-format, black, isort, bandit

feat: complete SOLID principles implementation with enterprise patterns
  api/container.py
  api/enhanced_async.py
  dgi/enhanced_factory.py
  dgi/factory_interfaces.py
  dgi/repositories/interfaces.py
  dgi/strategy_registry.py
Due: ruff-lint, ruff-format, black, isort, bandit

feat: complete SOLID principles refactoring with full test suite migration
  api/container.py
  dgi/factory.py
  dgi/screener.py
  dgi/services/screening_service.py
  tests/test_screener_edge.py
  tests/test_services.py
Due: ruff-lint, ruff-format, black, isort, bandit

fix: complete API integration with dependency injection
  api/main.py
  dgi/enhanced_factory.py
  dgi/factory.py
  dgi/factory_interfaces.py
  dgi/strategy_registry.py
Due: ruff-lint, ruff-format, black, isort, bandit

feat: TD-014 - Fix Mixed Testing Framework Usage (CRITICAL RESOLVED)
  tests/test_caching.py
  tests/test_exceptions.py
  tests/test_filtering.py
  tests/test_repositories.py
  tests/test_scoring.py
  tests/test_screener_edge.py
  tests/test_validation.py
Due: ruff-lint, ruff-format, black, mypy, isort

feat: TD-006 - Enhanced Dependency Injection Container (MEDIUM PRIORITY RESOLVED)
  api/enhanced_container.py
  api/health.py
  api/main.py
Due: ruff-lint, ruff-format, black, isort

feat: TD-020 - Fix Overly Broad Exception Catching (MEDIUM PRIORITY RESOLVED)
  dgi/exceptions.py
  dgi/repositories/csv.py
Due: ruff-lint, ruff-format, black, isort, bandit

feat: TD-021 - Enhanced Configuration Management with Strategy Patterns (MEDIUM PRIORITY RESOLVED)
  dgi/config_management.py
  examples/config_demo.py
  poetry.lock
  pyproject.toml
Due: ruff-lint, ruff-format, black, isort, bandit

feat: TD-022 - Enhanced Logging and Observability Patterns (MEDIUM PRIORITY RESOLVED)
  dgi/observability.py
Due: ruff-lint, ruff-format, black, isort, bandit
